<div *ngIf="vehicule">
    <button (click)="deleteOneVehicule()" class="btn btn-danger" type="submit">Supprimer</button>
    <div *ngIf="vehicule" class="d-flex flex-column align-items-center mt-5">
        <input class="my-2 rounded" type="text" [value]="vehicule.idvehicule" disabled>
        <input class="my-2 rounded" type="text" [value]="vehicule.marque" disabled>
        <input class="my-2 rounded" type="text" [value]="vehicule.immat" disabled>
        <input class="my-2 rounded" type="text" [value]="vehicule.dateSortie" disabled>
        <input class="my-2 rounded" type="text" [value]="vehicule.miseCirculation" disabled>
    </div>
</div>
