<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid w-50">
            <a class="navbar-brand text-warning" routerLink="/">
                <img src="assets/logo-portfolio.png" alt="logo" [width]="50">
            </a>
            <div class="navbar-nav me-auto mb-2 mb-lg-0" style="display: contents">
                <a class="nav-link active" aria-current="page" routerLink="/users">
                    <img src="assets/users.png" alt="users" [width]="50">
                </a>
                <a class="nav-link" routerLink="/vehicules">
                    <img src="assets/cars.png" alt="voitures" [width]="50">
                </a>
            </div>
        </div>
    </nav>
</header>
